# Briefing

Utilização de Classificadores de Aprendizado de Máquina na Detecção de Células Parazitadas pelo Protozoário da Malária.

A malária é transmitida pela fêmea do mosquito do gênero *Anopheles*, e seu agente etiológico é um protozoário do gênero *Plasmodium* (Figura 1) [Rita et al. 2013]

**Figura 1** - *Plasmodium Falciparum* MSP1 *Protein*

![download.jfif]()

Estando presentes em mais de **90 países**, embora com prevalência diferente. Os mais comprometidos são a Índia, Brasil (**cerca de 300 mil casos por ano**), Afeganistão e países asiáticos, inclusive a China. Sendo tipicamente uma doença do mundo subdesenvolvido (MUÑOZ; FERNANDES, [201?])

Em 2019, a contagem global de casos de malária foi de **229 milhões**, uma estimativa anual que permaneceu praticamente inalterada nos últimos 4 anos. A doença ceifou cerca de **409 mil vidas em 2019** (ORGANIZAÇÃO PAN-AMERICANA DA SAÚDE, 2020).


O diagnóstico confirmatório da malária baseia-se no encontro de parasitos no sangue.

O método mais utilizado é a microscopia de gota espressa de sangue, colhida por punção digital e corada pelo método de Walker.

O exame cuidadoso da lâmina é considerado o "padrão-ouro" para a detecção e a identificação dos parasitos, que possibilita detectar densidades baixas de parasitos (5-10 parasitos/µL de sangue) quando é feito por **profissional experiente**. Contudo, nas condições de campo, a  capacidade de detecção é de 100 parasitos/µL de sangue (BRASIL, 2020).

60 minutos para detecção.

Aplicar e avaliar a viabilidade do uso de uma rede neural *MultiLayer Perceptron* no auxílio do diagnóstico de malária.

Para isso utilizaresmos a biblioteca disponível:

https://scikit-learn.org/stable/modules/neural_networks_supervised.html

# Imports

## Libraries

In [ ]:
import cv2
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
import skimage.feature as ski
from google.colab import drive

#Pré-processamento
from sklearn.preprocessing import StandardScaler

# Cross Validation
from sklearn.model_selection import cross_val_score
# Hold-out
from sklearn.model_selection import train_test_split


# Classificadores
## Tree
from sklearn.tree import DecisionTreeClassifier
## SVM
from sklearn import svm
## k-nn
from sklearn.neighbors import KNeighborsClassifier
## MLP
from sklearn.neural_network import MLPClassifier

# Métricas
from sklearn.metrics import accuracy_score

##Data

In [ ]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
folder = '/content/gdrive/MyDrive/malaria/dataset/'

In [ ]:
base_completa = pd.read_csv(folder+'base_completa.csv')
base_completa

              0         1         2  ...      1022      1023    classe
0      0.000000  0.000000  0.000000  ...  0.068923  0.085944  saudavel
1      0.316889  0.039180  0.262214  ...  0.123080  0.081002  saudavel
2      0.000000  0.000000  0.000000  ...  0.179409  0.131601  saudavel
3      0.000000  0.000000  0.000000  ...  0.026395  0.029297  saudavel
4      0.000000  0.000000  0.000000  ...  0.115931  0.085241  saudavel
...         ...       ...       ...  ...       ...       ...       ...
26802  0.000000  0.000000  0.000000  ...  0.041173  0.070878    doente
26803  0.038041  0.000000  0.053501  ...  0.036836  0.041278    doente
26804  0.217576  0.000971  0.257891  ...  0.043237  0.057674    doente
26805  0.000000  0.000000  0.000000  ...  0.088982  0.146315    doente
26806  0.259392  0.011467  0.157129  ...  0.023953  0.022918    doente

[26807 rows x 1025 columns]

In [ ]:
base_completa_70 = pd.read_csv(folder+'base_completa_70.csv')
base_completa_70

              0         1         2  ...       714       715    classe
0     -0.800885 -0.127907 -1.118607  ... -0.002081  0.002014  saudavel
1     -1.112906 -0.078094 -0.048163  ...  0.003519  0.005106  saudavel
2     -0.418159  0.041575 -1.193468  ... -0.013367 -0.006569  saudavel
3     -0.168842  0.574866  1.096359  ...  0.005342  0.004101  saudavel
4     -1.373024 -0.206016 -0.346065  ...  0.001230 -0.000278  saudavel
...         ...       ...       ...  ...       ...       ...       ...
26802  1.083147  0.102716  0.009510  ...  0.010539  0.007427    doente
26803  0.466642 -0.083846  0.618787  ...  0.013022  0.006636    doente
26804  1.228830 -0.168165 -0.038274  ...  0.006922 -0.005520    doente
26805  1.286237 -0.058838 -0.121423  ... -0.008193  0.004999    doente
26806 -0.440195  0.538977  0.829856  ...  0.018221  0.012269    doente

[26807 rows x 717 columns]

In [ ]:
base_completa_30 = pd.read_csv(folder+'base_completa_30.csv')
base_completa_30

              0         1         2  ...       305       306    classe
0     -0.800885 -0.127907 -1.118607  ...  0.019153 -0.038830  saudavel
1     -1.112906 -0.078094 -0.048163  ... -0.008647 -0.025267  saudavel
2     -0.418159  0.041575 -1.193468  ...  0.006139 -0.040449  saudavel
3     -0.168842  0.574866  1.096359  ...  0.043904 -0.039844  saudavel
4     -1.373024 -0.206016 -0.346065  ... -0.011720 -0.008962  saudavel
...         ...       ...       ...  ...       ...       ...       ...
26802  1.083147  0.102716  0.009510  ...  0.000859  0.044809    doente
26803  0.466642 -0.083846  0.618787  ...  0.052908  0.039231    doente
26804  1.228830 -0.168165 -0.038274  ... -0.032882 -0.022473    doente
26805  1.286237 -0.058838 -0.121423  ...  0.045416  0.022414    doente
26806 -0.440195  0.538977  0.829856  ...  0.024311 -0.014640    doente

[26807 rows x 308 columns]

In [ ]:
base_completa_10 = pd.read_csv(folder+'base_completa_10.csv')
base_completa_10

              0         1         2  ...       100       101    classe
0     -0.800885 -0.127907 -1.118607  ...  0.077144  0.050618  saudavel
1     -1.112906 -0.078094 -0.048163  ...  0.010256  0.074602  saudavel
2     -0.418159  0.041575 -1.193468  ...  0.010456  0.053370  saudavel
3     -0.168842  0.574866  1.096359  ...  0.068598 -0.011924  saudavel
4     -1.373024 -0.206016 -0.346065  ...  0.040463 -0.053570  saudavel
...         ...       ...       ...  ...       ...       ...       ...
26802  1.083147  0.102716  0.009510  ...  0.038939 -0.187791    doente
26803  0.466642 -0.083846  0.618787  ... -0.024077  0.012427    doente
26804  1.228830 -0.168165 -0.038274  ...  0.099645  0.046519    doente
26805  1.286237 -0.058838 -0.121423  ... -0.008582  0.014531    doente
26806 -0.440195  0.538977  0.829856  ...  0.100619 -0.010088    doente

[26807 rows x 103 columns]

In [ ]:
label = base_completa["classe"]
label

0        saudavel
1        saudavel
2        saudavel
3        saudavel
4        saudavel
           ...
26802      doente
26803      doente
26804      doente
26805      doente
26806      doente
Name: classe, Length: 26807, dtype: object

In [ ]:
label_temp = pd.get_dummies(label)
label_temp

       doente  saudavel
0           0         1
1           0         1
2           0         1
3           0         1
4           0         1
...       ...       ...
26802       1         0
26803       1         0
26804       1         0
26805       1         0
26806       1         0

[26807 rows x 2 columns]

In [ ]:
label_two = pd.concat((label_temp, label), axis=1)
label_two

       doente  saudavel    classe
0           0         1  saudavel
1           0         1  saudavel
2           0         1  saudavel
3           0         1  saudavel
4           0         1  saudavel
...       ...       ...       ...
26802       1         0    doente
26803       1         0    doente
26804       1         0    doente
26805       1         0    doente
26806       1         0    doente

[26807 rows x 3 columns]

In [ ]:

label_two = label_two.drop(["classe"], axis=1)
label_two = label_two.drop(["doente"], axis=1)
label = label_two.rename(columns={"saudavel": "classe"})
label

       classe
0           1
1           1
2           1
3           1
4           1
...       ...
26802       0
26803       0
26804       0
26805       0
26806       0

[26807 rows x 1 columns]

In [ ]:
label_70 = base_completa_70["classe"]
label_70

0        saudavel
1        saudavel
2        saudavel
3        saudavel
4        saudavel
           ...
26802      doente
26803      doente
26804      doente
26805      doente
26806      doente
Name: classe, Length: 26807, dtype: object

In [ ]:
label_temp_70 = pd.get_dummies(label_70)
label_two_70 = pd.concat((label_temp_70, label_70), axis=1)
label_two_70 = label_two_70.drop(["classe"], axis=1)
label_two_70 = label_two_70.drop(["doente"], axis=1)
label_70 = label_two_70.rename(columns={"saudavel": "classe"})
label_70

       classe
0           1
1           1
2           1
3           1
4           1
...       ...
26802       0
26803       0
26804       0
26805       0
26806       0

[26807 rows x 1 columns]

In [ ]:
label_30 = base_completa_30["classe"]
label_30

0        saudavel
1        saudavel
2        saudavel
3        saudavel
4        saudavel
           ...
26802      doente
26803      doente
26804      doente
26805      doente
26806      doente
Name: classe, Length: 26807, dtype: object

In [ ]:
label_temp_30 = pd.get_dummies(label_30)
label_two_30 = pd.concat((label_temp_30, label_30), axis=1)
label_two_30 = label_two_30.drop(["classe"], axis=1)
label_two_30 = label_two_30.drop(["doente"], axis=1)
label_30 = label_two_30.rename(columns={"saudavel": "classe"})
label_30

       classe
0           1
1           1
2           1
3           1
4           1
...       ...
26802       0
26803       0
26804       0
26805       0
26806       0

[26807 rows x 1 columns]

In [ ]:
label_10 = base_completa_10["classe"]
label_10

0        saudavel
1        saudavel
2        saudavel
3        saudavel
4        saudavel
           ...
26802      doente
26803      doente
26804      doente
26805      doente
26806      doente
Name: classe, Length: 26807, dtype: object

In [ ]:
label_temp_10 = pd.get_dummies(label_10)
label_two_10 = pd.concat((label_temp_10, label_10), axis=1)
label_two_10 = label_two_10.drop(["classe"], axis=1)
label_two_10 = label_two_10.drop(["doente"], axis=1)
label_10 = label_two_10.rename(columns={"saudavel": "classe"})
label_10

       classe
0           1
1           1
2           1
3           1
4           1
...       ...
26802       0
26803       0
26804       0
26805       0
26806       0

[26807 rows x 1 columns]

In [ ]:
base_completa = base_completa.drop(["classe"], axis=1)
base_completa_70 = base_completa_70.drop(["classe"], axis=1)
base_completa_30 = base_completa_30.drop(["classe"], axis=1)
base_completa_10 = base_completa_10.drop(["classe"], axis=1)

#Building

##Hold-out

In [ ]:
# Dados de treino e teste base_completa
X_train,X_test,y_train,y_test = train_test_split(base_completa,label,test_size=0.3)
y_test

       classe
17413       0
13572       0
382         1
16839       0
20897       0
...       ...
5711        1
23314       0
14880       0
10989       1
16009       0

[8043 rows x 1 columns]

In [ ]:
# Dados de treino e teste base_completa_70
X_train_70,X_test_70,y_train_70,y_test_70 = train_test_split(base_completa_70,label_70,test_size=0.3)
y_test_70

       classe
19908       0
19823       0
11965       1
23468       0
20014       0
...       ...
11369       1
16939       0
11043       1
13930       0
13246       1

[8043 rows x 1 columns]

In [ ]:
# Dados de treino e teste base_completa_30
X_train_30,X_test_30,y_train_30,y_test_30 = train_test_split(base_completa_30,label_30,test_size=0.3)
y_test_30

       classe
22272       0
18226       0
6714        1
18840       0
13649       0
...       ...
18106       0
15199       0
4297        1
14517       0
15040       0

[8043 rows x 1 columns]

In [ ]:
# Dados de treino e teste base_completa_10
X_train_10,X_test_10,y_train_10,y_test_10 = train_test_split(base_completa_10,label_10,test_size=0.3)
y_test_10

       classe
23756       0
11170       1
8573        1
7465        1
1312        1
...       ...
9827        1
1837        1
26218       0
18580       0
14028       0

[8043 rows x 1 columns]

##Training

###MLP

In [ ]:
#MLP base_completa
clf_mlp = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
clf_mlp.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(5, 2), random_state=1,
              solver='lbfgs')

In [ ]:
#MLP base_completa_70
clf_mlp_70 = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
clf_mlp_70.fit(X_train_70, y_train_70)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(5, 2), random_state=1,
              solver='lbfgs')

In [ ]:
#MLP base_completa_30
clf_mlp_30 = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
clf_mlp_30.fit(X_train_30, y_train_30)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(5, 2), random_state=1,
              solver='lbfgs')

In [ ]:
#MLP base_completa_10
clf_mlp_10 = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
clf_mlp_10.fit(X_train_10, y_train_10)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(5, 2), random_state=1,
              solver='lbfgs')

###Tree

In [ ]:
#tree base_completa
clf_tree = DecisionTreeClassifier()
clf_tree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
#tree base_completa_70
clf_tree_70 = DecisionTreeClassifier()
clf_tree_70.fit(X_train_70, y_train_70)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
#tree base_completa_30
clf_tree_30 = DecisionTreeClassifier()
clf_tree_30.fit(X_train_30, y_train_30)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
#tree base_completa_10
clf_tree_10 = DecisionTreeClassifier()
clf_tree_10.fit(X_train_10, y_train_10)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

###SVM

In [ ]:
#svm base_completa
clf_svm = svm.SVC()
clf_svm.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
#svm base_completa_70
clf_svm_70 = svm.SVC()
clf_svm_70.fit(X_train_70, y_train_70)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
#svm base_completa_30
clf_svm_30 = svm.SVC()
clf_svm_30.fit(X_train_30, y_train_30)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
#svm base_completa_10
clf_svm_10 = svm.SVC()
clf_svm_10.fit(X_train_10, y_train_10)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

###K-NN

####1-NN

In [ ]:
#1-nn base_completa
nn1 = KNeighborsClassifier(n_neighbors=1)
nn1.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [ ]:
#1-nn base_completa_70
nn1_70 = KNeighborsClassifier(n_neighbors=1)
nn1_70.fit(X_train_70, y_train_70)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [ ]:
#1-nn base_completa_30
nn1_30 = KNeighborsClassifier(n_neighbors=1)
nn1_30.fit(X_train_30, y_train_30)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [ ]:
#1-nn base_completa_10
nn1_10 = KNeighborsClassifier(n_neighbors=1)
nn1_10.fit(X_train_10, y_train_10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

####2-NN

In [ ]:
#2-nn base_completa
nn2 = KNeighborsClassifier(n_neighbors=2)
nn2.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [ ]:
#2-nn base_completa_70
nn2_70 = KNeighborsClassifier(n_neighbors=2)
nn2_70.fit(X_train_70, y_train_70)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [ ]:
#2-nn base_completa_30
nn2_30 = KNeighborsClassifier(n_neighbors=2)
nn2_30.fit(X_train_30, y_train_30)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [ ]:
#2-nn base_completa_10
nn2_10 = KNeighborsClassifier(n_neighbors=2)
nn2_10.fit(X_train_10, y_train_10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

####3-NN

In [ ]:
#3-nn base_completa
nn3 = KNeighborsClassifier(n_neighbors=3)
nn3.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [ ]:
#3-nn base_completa_70
nn3_70 = KNeighborsClassifier(n_neighbors=3)
nn3_70.fit(X_train_70, y_train_70)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [ ]:
#3-nn base_completa_30
nn3_30 = KNeighborsClassifier(n_neighbors=3)
nn3_30.fit(X_train_30, y_train_30)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [ ]:
#3-nn base_completa_10
nn3_10 = KNeighborsClassifier(n_neighbors=3)
nn3_10.fit(X_train_10, y_train_10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

####5-NN

In [ ]:
#5-nn base_completa
nn5 = KNeighborsClassifier(n_neighbors=5)
nn5.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
#5-nn base_completa_70
nn5_70 = KNeighborsClassifier(n_neighbors=5)
nn5_70.fit(X_train_70, y_train_70)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
#5-nn base_completa_30
nn5_30 = KNeighborsClassifier(n_neighbors=5)
nn5_30.fit(X_train_30, y_train_30)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
#5-nn base_completa_10
nn5_10 = KNeighborsClassifier(n_neighbors=5)
nn5_10.fit(X_train_10, y_train_10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

##Prediction

###MLP

In [ ]:
#mlp base_completa
pred_mlp = clf_mlp.predict([X_test.iloc[1]])
pred_mlp

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but MLPClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0], dtype=uint8)

In [ ]:
#mlp base_completa_70
pred_mlp_70 = clf_mlp_70.predict([X_test_70.iloc[1]])
pred_mlp_70

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but MLPClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0], dtype=uint8)

In [ ]:
#mlp base_completa_30
pred_mlp_30 = clf_mlp_30.predict([X_test_30.iloc[1]])
pred_mlp_30

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but MLPClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0], dtype=uint8)

In [ ]:
#mlp base_completa_10
pred_mlp_10 = clf_mlp_10.predict([X_test_10.iloc[1]])
pred_mlp_10

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but MLPClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1], dtype=uint8)

###Tree

In [ ]:
#tree base_completa
pred_tree = clf_tree.predict([X_test.iloc[1]])
pred_tree

array([1], dtype=uint8)

In [ ]:
#tree base_completa_70
pred_tree_70 = clf_tree_70.predict([X_test_70.iloc[1]])
pred_tree_70

array([1], dtype=uint8)

In [ ]:
#tree base_completa_30
pred_tree_30 = clf_tree_30.predict([X_test_30.iloc[1]])
pred_tree_30

array([1], dtype=uint8)

In [ ]:
#tree base_completa_10
pred_tree_10 = clf_tree_10.predict([X_test_10.iloc[1]])
pred_tree_10

array([0], dtype=uint8)

###SVM

In [ ]:
#svm base_completa
pred_svm = clf_svm.predict([X_test.iloc[1]])
pred_svm

array([1], dtype=uint8)

In [ ]:
#svm base_completa_70
pred_svm_70 = clf_svm_70.predict([X_test_70.iloc[1]])
pred_svm_70

array([1], dtype=uint8)

In [ ]:
#svm base_completa_30
pred_svm_30 = clf_svm_30.predict([X_test_30.iloc[1]])
pred_svm_30

array([1], dtype=uint8)

In [ ]:
#svm base_completa_10
pred_svm_10 = clf_svm_10.predict([X_test_10.iloc[1]])
pred_svm_10

array([0], dtype=uint8)

###K-NN

####1-NN

In [ ]:
#1-nn base_completa
pred_1nn = nn1.predict([X_test.iloc[1]])
pred_1nn

array([1], dtype=uint8)

In [ ]:
#1-nn base_completa_70
pred_1nn_70 = nn1_70.predict([X_test_70.iloc[1]])
pred_1nn_70

array([1], dtype=uint8)

In [ ]:
#1-nn base_completa_30
pred_1nn_30 = nn1_30.predict([X_test_30.iloc[1]])
pred_1nn_30

array([1], dtype=uint8)

In [ ]:
#1-nn base_completa_10
pred_1nn_10 = nn1_10.predict([X_test_10.iloc[1]])
pred_1nn_10

array([0], dtype=uint8)

####2-NN

In [ ]:
#2-nn base_completa
pred_2nn = nn2.predict([X_test.iloc[1]])
pred_2nn

array([1], dtype=uint8)

In [ ]:
#2-nn base_completa_70
pred_2nn_70 = nn2_70.predict([X_test_70.iloc[1]])
pred_2nn_70

array([1], dtype=uint8)

In [ ]:
#2-nn base_completa_30
pred_2nn_30 = nn2_30.predict([X_test_30.iloc[1]])
pred_2nn_30

array([1], dtype=uint8)

In [ ]:
#2-nn base_completa_10
pred_2nn_10 = nn2_10.predict([X_test_10.iloc[1]])
pred_2nn_10

array([0], dtype=uint8)

####3-NN

In [ ]:
#3-nn base_completa
pred_3nn = nn3.predict([X_test.iloc[1]])
pred_3nn

array([1], dtype=uint8)

In [ ]:
#3-nn base_completa_70
pred_3nn_70 = nn3_70.predict([X_test_70.iloc[1]])
pred_3nn_70

array([1], dtype=uint8)

In [ ]:
#3-nn base_completa_30
pred_3nn_30 = nn3_30.predict([X_test_30.iloc[1]])
pred_3nn_30

array([1], dtype=uint8)

In [ ]:
#3-nn base_completa_10
pred_3nn_10 = nn3_10.predict([X_test_10.iloc[1]])
pred_3nn_10

array([0], dtype=uint8)

####5-NN

In [ ]:
#5-nn base_completa
pred_5nn = nn5.predict([X_test.iloc[1]])
pred_5nn

array([1], dtype=uint8)

In [ ]:
#5-nn base_completa_70
pred_5nn_70 = nn5_70.predict([X_test_70.iloc[1]])
pred_5nn_70

array([1], dtype=uint8)

In [ ]:
#5-nn base_completa_30
pred_5nn_30 = nn5_30.predict([X_test_30.iloc[1]])
pred_5nn_30

array([1], dtype=uint8)

In [ ]:
#5-nn base_completa_10
pred_5nn_10 = nn5_10.predict([X_test_10.iloc[1]])
pred_5nn_10

array([0], dtype=uint8)

##Evaluating Performance

###Hold-out Accuracy

####MLP

In [ ]:
#testando mlp base_completa
accuracy_score(y_test, clf_mlp.predict(X_test))

0.4921049359691657

In [ ]:
#testando mlp base_completa_70
accuracy_score(y_test_70, clf_mlp_70.predict(X_test_70))

0.9736416759915455

In [ ]:
#testando mlp base_completa_30
accuracy_score(y_test_30, clf_mlp_30.predict(X_test_30))

0.8295412159641925

In [ ]:
#testando mlp base_completa_10
accuracy_score(y_test_10, clf_mlp_10.predict(X_test_10))

0.8223299763769738

####Tree

In [ ]:
#testando tree base_completa
accuracy_score(y_test, clf_tree.predict(X_test))

0.6874300634091757

In [ ]:
#testando tree base_completa_70
accuracy_score(y_test_70, clf_tree_70.predict(X_test_70))

0.9421857515852294

In [ ]:
#testando tree base_completa_30
accuracy_score(y_test_30, clf_tree_30.predict(X_test_30))

0.9433047370384186

In [ ]:
#testando tree base_completa_10
accuracy_score(y_test_10, clf_tree_10.predict(X_test_10))

0.9526296158149944

####SVM

In [ ]:
#testando svm base_completa
accuracy_score(y_test, clf_svm.predict(X_test))

0.794479671764267

In [ ]:
#testando svm base_completa_70
accuracy_score(y_test_70, clf_svm_70.predict(X_test_70))

1.0

In [ ]:
#testando svm base_completa_30
accuracy_score(y_test_30, clf_svm_30.predict(X_test_30))

1.0

In [ ]:
#testando svm base_completa_10
accuracy_score(y_test_10, clf_svm_10.predict(X_test_10))

1.0

####K-NN

#####1-NN

In [ ]:
#1-nn base_completa
accuracy_score(y_test, nn1.predict(X_test))

0.6117120477433793

In [ ]:
#1-nn base_completa_70
accuracy_score(y_test_70, nn1_70.predict(X_test_70))

0.9988810145468109

In [ ]:
#1-nn base_completa_30
accuracy_score(y_test_30, nn1_30.predict(X_test_30))

0.999627004848937

In [ ]:
#1-nn base_completa_10
accuracy_score(y_test_10, nn1_10.predict(X_test_10))

1.0

#####2-NN

In [ ]:
#2-nn base_completa
accuracy_score(y_test, nn2.predict(X_test))

0.6273778440880269

In [ ]:
#2-nn base_completa_70
accuracy_score(y_test_70, nn2_70.predict(X_test_70))

0.9985080193957478

In [ ]:
#2-nn base_completa_30
accuracy_score(y_test_30, nn2_30.predict(X_test_30))

0.999627004848937

In [ ]:
#2-nn base_completa_10
accuracy_score(y_test_10, nn2_10.predict(X_test_10))

1.0

#####3-NN

In [ ]:
#3-nn base_completa
accuracy_score(y_test, nn3.predict(X_test))

0.6165609847071988

In [ ]:
#3-nn base_completa_70
accuracy_score(y_test_70, nn3_70.predict(X_test_70))

0.9981350242446848

In [ ]:
#3-nn base_completa_30
accuracy_score(y_test_30, nn3_30.predict(X_test_30))

0.9992540096978739

In [ ]:
#3-nn base_completa_10
accuracy_score(y_test_10, nn3_10.predict(X_test_10))

1.0

#####5-NN

In [ ]:
#5-nn base_completa
accuracy_score(y_test, nn5.predict(X_test))

0.6072361059306229

In [ ]:
#5-nn base_completa_70
accuracy_score(y_test_70, nn5_70.predict(X_test_70))

0.9970160387914957

In [ ]:
#5-nn base_completa_30
accuracy_score(y_test_30, nn5_30.predict(X_test_30))

0.9988810145468109

In [ ]:
#5-nn base_completa_10
accuracy_score(y_test_10, nn5_10.predict(X_test_10))

1.0